    
   {% extends "index.html" %} 
    {% load static %}




    {% block header %}
 
         {% include "header.html" %}
  {% endblock header %}
       {% block event %}

<section id="page-banner" class="pt-10 pb-120 bg_cover" data-overlay="8" style="background-image: url({%static ''%}images/page-banner-6.jpg); max-height: 60px;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12"style="text-align: center">
                    <div class="page-banner-cont text-center">
                        <h2>Hi {{user.username}}</h2>
                        <nav aria-label="breadcrumb" style="display: inline-block;">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item text-center"><a href="#">Home</a></li>
                                <li class="breadcrumb-item text-center" aria-current="page"><a href="{%url 'user_logout'%}" class="active">Logout</a></li>
                            </ol>
                        </nav>
                    </div>  <!-- page banner cont -->
                </div>
            </div> <!-- row -->

        </div> <!-- container -->
    </section>

    <section id="contact-page" class="pt-10 pb-100 gray-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="contact-from  mt--5" >
                        <div class="section-title">
                            <h4>Hi {{user.username}}</h4>
                     
                               <div>
    {%if messages %} {% for message in messages %}
    <div class="alert alert-{{ message.tags }}" role="alert">
        {{message}}
    </div>
    {% endfor %} {% endif %}
</div>
                            
                            <h3 class="mt-2 mb-3 active">Your User Pannel</h3>
                        </div> <!-- section title -->
                       <div class="page-section mb-60">
                <div class="container">
      {% include "dashboard.html" %}
                </div>
            </div>
            <!-- Login Content Area End Here -->


                    </div> <!--  contact from -->
                </div>
                <div class="col-lg-8">
                                 <div class="billing-details">
                        <div class="section-title">
                            <h3 class="title">User Profile Update</h3>
                        </div>
                    </div>

                    <form method="POST" enctype = "multipart/form-data">
                        {% csrf_token %}
                        <fieldset class="form-group">
                         
                        </fieldset>
                        <div class="form-group">
                            <button class="primary-btn" type="submit">Update</button>
                        </div>
                    </form>
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </section>
    
    <!--====== CONTACT PART ENDS ======-->


   

    {% endblock %}
    {% block footer %}
    {% include "footer.html" %}
{% endblock footer %} 
