{% extends "index.html" %} 
{% load static %}
{% block description %}
    
{% endblock description %}

<!--====== Title ======-->
{% block titlee %}
    ShikkhaOnirban
{% endblock titlee %}
<!--======END Title ======-->
<!--====== Start stylesheet ======-->
  {% block stylesheet %}
  
{% endblock stylesheet %}
<!--====== End stylesheet ======-->

<!--====== HEADER PART START ======-->
{% block header %}
 {% include "header.html" %}
{% endblock header %}

<!--====== HEADER PART ENDS ======-->
<!--====== SLIDER PART START ======-->
{% block slider %}
    {% include "slider.html" %}
{% endblock slider %}


<!--====== SLIDER PART ENDS ======-->

<!--====== CATEGORY PART START ======-->
{% block category %}
{% include "category.html" %}
    
{% endblock category %}


<!--====== CATEGORY PART ENDS ======-->

<!--====== ABOUT PART START ======-->
{% block about %}
    {% include "aboutt.html" %}
{% endblock about %}



<!--====== ABOUT PART ENDS ======-->

<!--====== APPLY PART START ======-->
{% block apply %}
    {% include "apply_part.html" %}
{% endblock apply %}


<!--====== APPLY PART ENDS ======-->

<!--====== COURSE PART START ======-->
{% block course %}
{% include "course_part.html" %}
    
{% endblock course %}

<!--====== COURSE PART ENDS ======-->

<!--====== VIDEO FEATURE PART START ======-->
{% block video %}
    {% include "video_feature.html" %}
{% endblock video %}


<!--====== VIDEO FEATURE PART ENDS ======-->

<!--====== TEACHERS PART START ======-->
{% block teacher %}
{% include "teacher_part.html" %}
    
{% endblock teacher %}


<!--====== TEACHERS PART ENDS ======-->

<!--====== PUBLICATION PART START ======-->
{% block publication %}
    {% include "publication.html" %}
{% endblock publication %}

<!--====== PUBLICATION PART ENDS ======-->

<!--====== TEASTIMONIAL PART START ======-->

{% block testimonial %}
    {% include "testimonial.html" %}
{% endblock testimonial %}

<!--====== TEASTIMONIAL PART ENDS ======-->

<!--====== NEWS PART START ======-->
{% block news %}
    {% include "news.html" %}
{% endblock news %}

<!--====== NEWS PART ENDS ======-->

<!--====== PATNAR LOGO PART START ======-->
{% block partnar %}
    {% include "partner.html" %}
{% endblock partnar %}

<!--====== PATNAR LOGO PART ENDS ======-->

<!--====== FOOTER PART START ======-->
{% block footer %}
    {% include "footer.html" %}
{% endblock footer %}

<!--====== FOOTER PART ENDS ======-->